<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous"
  />
  <title>에세이 작성페이지</title>
  <link rel="stylesheet" href="/css/write.css" />
  <link rel="stylesheet" href="/css/header+modal_form.css" />
</head>

<!-- header -->
<header>
  <nav class="sub-header">
    <ul class="sub-menu">
      <li><a href="">InShim소개</a></li>
      <li><a href="">고객지원</a></li>
      <li><a href="">예약조회</a></li>
    </ul>
    <div class="sub-login" id="login-section">
      <div
        class="modal fade"
        id="popup_login_register"
        aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                로그인
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form name="login">
                <input
                  name="login_user_id"
                  id="login_uesr_id"
                  type="text"
                  placeholder="아이디"
                  required
                />
                <br />
                <input
                  name="login_user_pw"
                  id="login_user_pw"
                  type="password"
                  placeholder="비밀번호"
                  required
                />
                <br />
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" onclick="loginFunc()">
                로그인
              </button>
              <button
                class="btn btn-primary"
                data-bs-target="#popup_register"
                data-bs-toggle="modal"
              >
                회원가입
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="popup_register"
        aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
                회원가입
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form name="register">
                <label for="register_user_id">아이디</label>
                <br />
                <input
                  name="register_user_id"
                  id="register_user_id"
                  type="text"
                  placeholder="아이디를 입력해주세요"
                />
                <button
                  type="button"
                  id="check_user_id"
                  onclick="checkUserId()"
                >
                  아이디 중복 검사
                </button>
                <br />
                <label for="register_user_pw">비밀번호</label>
                <br />
                <input
                  name="register_user_pw"
                  id="register_user_pw"
                  type="password"
                  placeholder="비밀번호를 입력해주세요"
                />
                <br />
                <label for="register_user_name">이름</label>
                <br />
                <input
                  name="register_user_name"
                  id="register_user_name"
                  type="text"
                  placeholder="이름을 입력해주세요"
                />
                <br />
                <label for="register_user_country">국적</label>
                <br />
                <input
                  name="register_user_country"
                  id="register_user_country"
                  type="text"
                  placeholder="국적을 입력해주세요"
                />
                <br />
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" onclick="registFunc()">
                회원가입
              </button>
            </div>
          </div>
        </div>
      </div>
      <a
        class="btn"
        data-bs-toggle="modal"
        href="#popup_login_register"
        role="button"
        >로그인/회원가입</a
      >
    </div>
    <div id="sub-mypage" style="display: none">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#popup_mypage"
      >
        마이페이지
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="popup_mypage"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                마이페이지
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div id="user_info">
                <div id="user_id">
                  아이디:
                  <p id="user_id_text"></p>
                </div>
                <div id="user_name">
                  이름:
                  <p id="user_name_text"></p>
                </div>
                <div id="user_country">
                  국적:
                  <p id="user_country_text"></p>
                </div>
              </div>
              <form id="change_password_form" name="change_password_form">
                <label for="current_password">현재 비밀번호:</label>
                <input
                  type="password"
                  id="current_password"
                  name="currentPassword"
                  required
                />
                <br />
                <label for="new_password">새로운 비밀번호:</label>
                <input
                  type="password"
                  id="new_password"
                  name="newPassword"
                  required
                />
                <br />
              </form>
              <div id="result"></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                onclick="logoutFunc()"
              >
                로그아웃
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="pwChangeFunc()"
              >
                비밀번호 변경
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<header>
  <nav class="main-header">
    <div class="header-logo">
      <a href="/inshim">INSHIM</a>
    </div>
    <ul class="main-menu">
      <li><a href="">지역소개</a></li>
      <li><a href="/inshim/route">코스보기</a></li>
      <li><a href="/inshim/essay">후기보기</a></li>
    </ul>
  </nav>
</header>

<!-- 후기작성페이지 헤더 -->
<header>
  <div class="essayHeaderBox">
    <h2>후기작성</h2>
    <div class="essayWtBtBx">
      <button class="essayWtBt" type="button" onclick="createWrite()">글작성
        <img class="pencile" src="/images/pen.png" alt="write">
      </button>
    </div>
  </div>
</header>

<body>
  <h3>즐겨찾기 목록 선택</h3>
  <div class=bookmarkBox style="overflow: auto; height: 100px; scrollbar-width: none;">
    <div class="tablebox">
      <% if (data && data.length> 0) { %>
        <table border="0" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>지역</th>
              <th>기간</th>
              <th>출발지</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < data.length; i++) { %>
              <tr id="tr_<%= data[i].F_userinfo_id %>">
                <td><input type="checkbox" value="<%= data[i].F_route_id %>" /></td>
                <td class="route_city">
                  <%= data[i].route_city %>
                </td>
                <td class="route_day">
                  <%= data[i].route_day %>
                </td>
                <td>
                  <%= data[i].detail_comment %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
    </div>
  </div>
  <% } else { %>
    <p>후기를 작성하고 싶으면 즐겨찾기를 추가해주세요</p>
    <% } %>

      </br>

      <div id="essay_title">
        <span style=width:40px>제목</span>
        <input type="text" name="Etitle" id="Etitle" placeholder="글 제목" maxlength="40" required></input>
      </div>

      <div id="essay_content">
        <!-- <div class="essay_content">내용</div> -->
        <span style=width:40px>내용</span>
        <textarea name="Econtent" id="Econtent" maxlength="1024" style="height:400px; width:100%;"
          placeholder="글 내용을 작성하세요" required></textarea>
      </div>
      </br>
      <script>
        //세션값 받았는지 테스트
        window.addEventListener("load", checkIfLoggedIn);
        function checkIfLoggedIn() {
          console.log(JSON.parse(sessionStorage.getItem("loggedin_user"))
            .userinfo_id)
        }

        async function createWrite() {



          const title = document.getElementById("Etitle").value;
          const content = document.getElementById("Econtent").value;

          if (!title) {
            alert("제목을 입력해주세요.");
            return;
          }

          if (!content) {
            alert("내용을 입력해주세요.");
            return;
          }
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          let checkedCount = 0;
          let checkboxValue = null;
          let routeDay = null;
          let routeCity = null;

          checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
              checkedCount++;
              checkboxValue = checkbox.value;


              // 체크된 즐겨찾기 목록의 부가 정보 가져오기
              const tr = checkbox.closest("tr");

              console.log(tr);

              routeDay = tr.querySelector(".route_day").textContent;
              routeCity = tr.querySelector(".route_city").textContent;
            }
          });

          if (checkedCount === 0) {
            alert("하나 이상의 즐겨찾기를 선택해주세요.");
            return;
          }

          if (checkedCount > 1) {
            alert("즐겨찾기 목록을 하나만 선택해주세요.");
            return; 
          }

          const response = await axios({
            method: "POST",
            url: "/inshim/essay",
            data: {
              checkboxValue: checkboxValue,
              title: title,
              content: content,
              routeDay: routeDay,
              routeCity: routeCity,
            },
          }).then((res) => {
            console.log("글작성 데이터 확인")
            console.log(res.data.data);
            if (res.data.data) {
              alert("글 작성 성공");
              document.location.href = "/inshim/essay";
            } else {
              alert("글 작성 실패");
            }
          });


        }
      </script>
          <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"
        ></script>
          <script src="/js/header.js"></script>
</body>

</html>